*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
    list-style-type: none;
    text-decoration: none;

}
header{
    position: fixed ;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9px;
    
    background: transparent;

    
}
/* body{
    background: red; 


} */
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 100px;


}
header ul{
    display: flex;
}
header ul li a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
header ul li a:hover{

    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    margin-right: 100px;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(245.59deg,#1A120B 0%, #000000 ,28.53% ,#331D2C 75.52%) ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1ftr);
    align-items: center;
    gap: 2rem;
    display: flex;


}

section{
    padding: 0 19%;
}
.hero_text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;


}
.hero_text h1{
    font-family: 'Permanent Marker' ,cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px ;
}
.hero_text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px ;

}
.hero_text p{
    color: white;
    font-size:15px ;
    line-height: 1.9;
    margin-bottom: 40px;

}
.hero_img img{
    width: 400px;
    height: 400px;


}
.hero_text a{
    display: inline-block;
    color: white;
    background: #434242;
    border: 1px solid transparent;
    padding: 12px 30px ;
    line-height: 1.4;
    font-weight:500 ;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease ;


}
.hero_text a:hover{
    background:transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero_text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero_text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;



}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);


}
.icons i{
    display: block;
    margin:26px 0 ;
    font-size: 25px;
    color: white;
    transition: all .50s ease;

}
.icons i:hover{
    color:#4d9559 ;
    transform: translateY(-5px);

}
.scroll_down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll_down i{
    display: block;
    padding: 10px ;
    font-size: 25px;
    color: white;
    background: #434242;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll_down i:hover{

transform: translateY(-5px);

}
@media (max-width:1535px) {
    header{
        padding: 15px 3%;
        transition: .2s;

    }
    .icons{
        padding: 0 3%;
        transition: .2s;

    }
    .scroll_down {
        right: 3%;
        transition: .2s;
        
    }
    
}
@media (max-width:1460px)
{
    section{
        padding: 0 12%;
        transition: .2s ;

    }
}
@media (max-width:1340px){
    .hero_img img{
        width: 100%;
        height: auto;
    }
    .hero_text h1{
        font-size: 75px;
        margin:  0 0 30px ;

    }
    .hero_text h5{
        padding-top:115px ;

    }
}
@media (max-width:1195px){
    section{
        padding: 0 3%;
        transition: .2s;

    }
    .hero_text{
        padding-top: 115px;

    }
    .hero_img img{
     width: 300px ;
     height: auto;

    }
    .hero{height: 100%;
     gap: 1rem;
    
    
    }
    .icons{
        display: none;


    }
    .scroll_down{
        display: none;

    }
}
@media (max-width:990px){
    #menu-icon{
        display: block;


    }
    .navelist{
        position: absolute;
        top:100% ;
        right: 0;
        width: 300px;
        height: 45vh;
        background: #434242;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:50px 20px  ;
        transition: all .55s ease;

    }
    .navelist a{
        display: block;
        margin: 10px  0;
        margin-left: 0;
    }
    .navelist .open{
        right: 0;

    }

    
}
@media (max-width:680px){
    .hero_img img{
        width:100%;
     }

}






